@import 'variables';

.App {
  text-align: center;
}

.App {
  background-image: url('../images/star.jpg');
  background-size: cover;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.App-header {
  color: #fff;
  font-size: 5em;
  font-family: 'Orbitron', sans-serif;
  margin-top: 50px;
}